*{
    margin: 0;
    padding: 0;
}
html{
    -webkit-transition:all 20s;

}
.pages{
    position: relative;
}
.page{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}