* {
    margin: 0;
    padding: 0;
}

.pages {

}

.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
}

.page1 {
    background: #fff;
    background: url("images/page1_bottom.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.logo {
    width: 60vw;
    margin: auto;
    margin-top: 30vw;
}

.download_btn {
    /*
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    height: 50px;
    display: block;
    */
    margin: auto;
    width: 40vw;
    margin-top: -50vw;
}

.page2 {
    background: #c7ecdd;
    background-image: url(images/page2_bg.png);
    background-position: right 50vw;
    background-repeat: no-repeat;
    background-size: 80%;
}

@-webkit-keyframes page2_face {
    50% {
        transform: scale(1.2);
    }
}

.page2_face {
    position: absolute;
    width: 56vw;
    top: 10vw;
    -webkit-animation: page2_face 2s linear infinite;
}

.page2_title_1 {
    position: absolute;
    bottom: 28vw;
    font-size: 14vw;
    color: #4bb1b2;
    right: 5vw;
}

.page2_title_2 {
    position: absolute;
    bottom: 22vw;
    font-size: 6vw;
    color: #4bb1b2;
    right: 5vw;
}

.page3 {
    background: #ffde00;
}

.page3_title_1 {
    position: absolute;
    bottom: 28vw;
    font-size: 14vw;
    color: #c49800;
    left: 5vw;
}

.page3_title_2 {
    position: absolute;
    bottom: 22vw;
    font-size: 6vw;
    color: #c49800;
    left: 5vw;
}

.page3_man_obj_0 {
    position: absolute;
    width: 85vw;
    right: 0vw;
    top: 25vw;
}

.page3_man_obj_1 {
    position: absolute;
    right: 42.8vw;
    top: 65vw;
    width: 19vw;
}

.page3_man_obj_2 {
    position: absolute;
    right: 23vw;
    top: 74.38vw;
    width: 24.9vw;
}

.page4 {
    background: #ffb070;
}

.page4_mobile {
    position: absolute;
    left: 5vw;
    top: 10vw;
    width: 54vw;
}

.page4_tower {
    position: absolute;
    right: 25vw;
    top: 80vw;
    width: 9vw;
}

.page4_car {
    position: absolute;
    right: 8vw;
    top: 92vw;
    width: 20vw;
}

.page4_star {
    position: absolute;
    right: 5vw;
    top: 70vw;
    width: 15vw;
}

.page4_title_1 {
    position: absolute;
    bottom: 28vw;
    font-size: 14vw;
    color: #8e6747;
    right: 5vw;
}

.page4_title_2 {
    position: absolute;
    bottom: 22vw;
    font-size: 6vw;
    color: #8e6747;
    right: 5vw;
}

.page5 {
    background: #294155;
}

.page5_title_1 {
    position: absolute;
    bottom: 28vw;
    font-size: 14vw;
    color: #71e2e3;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;

}

.page5_title_2 {
    position: absolute;
    bottom: 22vw;
    font-size: 6vw;
    color: #71e2e3;
    right: 5vw;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}
.canvas{
    position: absolute;
    width: 90vw;
    height: 90vw;
    margin: auto;
    left: 0;
    right: 0;
    overflow: hidden;
    top: 20vw;
    background: url("images/c.png");
    background-size: 100%;
}
.downloadbanner {
    position: fixed;
    bottom: 0;
}


